.buttonF{

    display: flex;
    height: var(--Spacing-large, 32px);
    padding: 0px var(--Spacing-semi-medium, 12px);
    justify-content: center;
    align-items: center;
    gap: var(--Spacing-regular, 8px);
    align-self: stretch;
    border-radius: var(--Spacing-small, 4px);
    background: var(--Surface-color-surface-brand-intense, #0942B3);
    border: none;
    box-shadow: none
}

.span{
    color: var(--Text-color-text-inverse, #FFF);
    /* Text-body/secondary/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-small, 11px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-small, 16px); /* 145.455% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}


.buttonF.Small{
    height: var(--Spacing-large, 32px);
}
.buttonF.Regular{
    height: 36px;
}

.buttonF.Large{
    height: 40px
}

.buttonF.true{
    width: 143px;
}

.span.Small{
    font-size: var(--Font-Size-size-regular, 13px);
}
.span.Regular{
    font-size: var(--Font-Size-size-regular, 13px);
}
.span.Large{
    font-size: var(--Font-Size-size-large, 15px);
}

.buttonF.iconOnly.Small{
    padding: 8px;
}
.buttonF.iconOnly.Regular{
    padding: 10px;
}
.buttonF.iconOnly.Large{
    padding: 12px;
}
.plus{
    fill: var(--Icon-color-icon-inverse,#FFFFFF)
}

.cm{
    width: 16px;
    height: 16px;
    fill: var(--Icon-color-icon-inverse,#FFFFFF) 
}

.plus.Small{
    width: 10px;
    height: 10px;
}


.buttonF.Focus{
    border-radius: 4px;
    outline: 4px solid var(--Border-color-border-focus, #D1E0FF);
    background: var(--Surface-color-surface-brand-intens, #002E8A);
}

.buttonF.Hover{
    background: var(--Surface-color-surface-brand-intens, #002E8A);
}

.buttonF.loader{
    background: var(--Surface-color-surface-brand-subtle);
}

.icon1.Large{
    width: 18px;
    height: 18px;
}

.cm.Disabled{
    fill: var(--Icon-color-icon-disabled, #BCC2D0 );
}


.dd .path-1 {
    fill: #EBF2FF
}
.dd .path-2{
    fill: #0942B3
}
.dd .path-3{
    fill: #0942B3
}

.icon1{
    width: 16px;
    height:16px;
}

.buttonF.Disabled{
    background: var(--Surface-color-surface-secondary, #EEF1F6);
}
.plus.Disabled{
    fill: var(--Icon-color-icon-disabled,#BCC2D0)
}

.span.Disabled{
    color: var(--Text-color-text-disabled, #BCC2D0);
}



/*----------------------------------------------------------------------*/


.buttonF.Secondary{
    border-radius: var(--Spacing-small, 4px);
    border: 1px solid var(--Border-color-border-subtler, #C4CDDF);
    background: var(--Surface-color-surface-playground, #F8F9FB);
}

.buttonF.Secondary.Hover{
    background: #F8F9FB;
}

.buttonF.Secondary.Focus, .buttonF.Secondary.loader{
    border-radius: var(--Spacing-small, 4px);
    border: 1px solid var(--Border-color-border-subtler, #C4CDDF);
    background: var(--Surface-color-surface-playground, #F8F9FB);
}

.buttonF.Tertiary{
    background: none;
    border-color: none;
}

.plus.Secondary,
.plus.Tertiary{
    fill: #525F7A;
}
.span.Secondary,
.span.Tertiary{
    color: #525F7A;
}

.plus.Secondary.Hover,
.plus.Tertiary.Hover{
    fill: #0942B3;
}
.span.Secondary.Hover,
.span.Tertiary.Hover{
    color:#0942B3;
}
.cm.Secondary,
.cm.Tertiary{
    fill: #525F7A;
}

.cm.Secondary.Hover,
.cm.Tertiary.Hover{
    fill:  #0942B3;
}

.plus.Secondary.Focus,
.plus.Tertiary.Focus{
    fill: #1A2031;
}

.span.Secondary.Focus,
.span.Tertiary.Focus{
    color: #1A2031;
}

.cm.Secondary.Focus,
.cm.Tertiary.Focus{
    fill: #1A2031;
}


.buttonF.Secondary.Disabled{
    border-radius: var(--Spacing-small, 4px);
    border: 1px solid var(--Border-color-border-subtler, #C4CDDF);
    background: var(--Surface-color-surface-secondary, #EEF1F6);
}

.plus.Secondary.Disabled,
.plus.Tertiary.Disabled{
    fill: #BCC2D0;
}

.span.Secondary.Disabled,
.span.Tertiary.Disabled{
    color: #BCC2D0;
}

.cm.Secondary.Disabled,
.cm.Tertiary.Disabled{
    fill: #BCC2D0;
}

.buttonF.Secondary .dd .path-2,
.buttonF.Tertiary .dd .path-2 {
    fill: #13171E;
}
.buttonF.Secondary .dd .path-3 ,
.buttonF.Tertiary .dd .path-3{
    fill: #13171E;
}










