/* Table Header Wrapper */
.tble_header {
    width: 240px;
    display: flex;
    height: var(--Spacing-XL, 48px);
    padding: 12px;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--Surface-color-surface-secondary, #EEF1F6);
    border-bottom: 1px solid var(--Color-Surface-surface-200, #DBE0EB);
}

/* Narrow Columns: Selection & Spacer */
.tble_header.Selection,
.tble_header.Spacer {
    width: 48px;
}

/* Property Column Wrapper */
.prop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: fit-content;
    gap: 8px;
    flex-shrink: 0;
    align-self: stretch;
    background: var(--Surface-color-surface-secondary, #EEF1F6);
}

/* Header Text Styling */
.spanTableHeader {
    color: var(--Text-color-text-brand, #0942B3);
    font-feature-settings: 'liga' off, 'clig' off;
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-form-titles, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Font-Line_Height-font-lh-small, 16px);
    /* 133.333% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

/* Arrow Container (Up/Down) */
.mainArrow {
    display: flex;
    width: 16px;
    height: 16px;
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 0;
}

.secArrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2px;
}

/* Arrow Icons */
.upArr,
.downArr {
    width: 8px;
    height: 4.8px;
    fill: var(--color-text-text-50-subtlest, #8B96AE);
}

.upArr.ascending,
.downArr.descending {
    fill: var(--Color-Primary-primary-200, #0942B3);
}

/* Flexible Table Cell Content */
.sec_tab {
    display: flex;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
}

.sec_tab.right {
    justify-content: flex-end;
}

.headerRow {
    display: flex;
    width: 1296px;
    height: 72px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}



/*---------------------------------------------------------------*/


.mainTCell {
    display: flex;
    height: 48px;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    width: 240px;
    border-bottom: 1px solid #DBE0EB;

}

.mainTCell.checkbox,
.mainTCell.Spacer {
    width: 48px;

    align-items: center;
}

.mainTCell.Number , .mainTCell.Action{
    align-items: flex-end;
}

.mainTCell.Expanded {
    height: 56px;
}

.mainTCell.Focus {
    border-radius: var(--Spacing-small, 4px);
    outline: 4px solid var(--Border-color-border-focus, #D1E0FF);
    background: none;

}

.mainTCell.Hover.true,
.mainTCell.Active.true {
    background: var(--Color-Secondary-secondary-100, #D1E0FF);
}

.mainTCell.Focus.true,
.mainTCell.true {
    background: var(--Color-Secondary-secondary-0, #EBF2FF);
}


.rowT {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text-body/primary/primary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.descri {
    color: var(--color-text-text-100-subtler, #525F7A);

    /* Text-body/secondary/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-small, 11px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-small, 16px);
    /* 145.455% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.linkcell {
    color: var(--Text-color-text-brand, #0942B3);
    font-feature-settings: 'liga' off, 'clig' off;

    /* heading/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-dense, -0.1px);
}

.labelmain {
    display: flex;
    height: 20px;
    align-items: center;
    gap: 4px;
    border-radius: 0px;
}

.dotla {
    width: 10px;
    height: 10px;
    fill: var(--Icon-color-icon-sucess, #20845A);
}

.spanLabel {
    color: var(--Text-color-text-subtler, #525F7A);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text-body/primary/primary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}




.actionIcon {
    fill: #0942B3;
    height: 16px;
    width: 16px;
}

.actionSpan {
    color: var(--Text-color-text-brand, #0942B3);
    font-feature-settings: 'liga' off, 'clig' off;

    /* heading/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-dense, -0.1px);
}

.actionSec {
    display: flex;
    align-items: center;
    gap: var(--Spacing-small, 4px);
}

.actionmain {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 16px;
    flex: 1 0 0;
}