/* .App {
  text-align: center;
} */

@import url('./tokens.css');


.app {
  display: flex;
  font-family: 'Inter', sans-serif;
  background-color: #f8f9fb;
  width: 100%;
}
.sidebar {
  width: 219px;
  display: flex;
  height: 100vh;
  padding: var(--Spacing-medium, 16px);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-right: 1px solid var(--Color-Surface-surface-100, #EEF1F6);
  background: var(--Color-Surface-surface-0, #FFF);
  box-sizing: border-box;
}



.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  
}

.content {
  flex-grow: 1;
  overflow-y: auto;
  box-sizing: border-box;
  width: 100%;
  /* overflow: hidden; */

}

.content::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}


.sidebar {
  width: 219px;
  display: flex;
  height: 100vh;
  padding: var(--Spacing-medium, 16px);
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-shrink: 0;
  border-right: 1px solid var(--Color-Surface-surface-100, #EEF1F6);
  background: var(--Color-Surface-surface-0, #FFF);
  box-sizing: border-box;

}



.tessell-logo {
  width: 20.457px;
  height: 18.945px;
  flex-shrink: 0;
}

.aa {
  display: flex;
  height: 32px;
  width: 187px;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid #282c34; */
}

.ab {
  color: #11567F;
  font-family: Lato;
  font-size: 13.755px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.256px;
  /* 140% */

}

.ac {
  display: flex;
  width: var(--Spacing-large, 32px);
  height: var(--Spacing-large, 32px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: var(--Spacing-small, 4px);
}

.sm {
  width: 16px;
  height: 16px;
}

.ad {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
}

.ae {
  color: var(--color-text-text-100-subtler, #525F7A);
  font-feature-settings: 'liga' off, 'clig' off;

  /* heading/form titles */
  font-family: var(--Font-Family-Family, Inter);
  font-size: var(--Font-Size-size-form-titles, 12px);
  font-style: normal;
  font-weight: 500;
  line-height: var(--Font-Line_Height-font-lh-small, 16px);
  /* 133.333% */
  letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}


.switcher {
  height: 14px;
  width: 14px;
}

.af {
  display: flex;
  width: 100%;
  /* ensure it doesn't auto-expand */
  box-sizing: border-box;
  /* critical: padding counted inside the width */
  padding: var(--Spacing-regular, 8px) var(--Spacing-regular, 8px) var(--Spacing-regular, 8px) var(--Spacing-semi-medium, 12px);
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  border: 1px solid var(--Color-Surface-surface-200, #DBE0EB);
  /* overflow: hidden; */
}

.ag {
  color: var(--color-text-text-200-primary, #1A2031);
  font-family: Inter;
  font-size: 11px;
  font-style: normal;
  font-weight: 550;
  line-height: 16px;
  /* 145.455% */
}


.downarrow {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}


.ah {
  display: flex;
  padding: 6px 8px;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  border-radius: 4px;
  margin-top: 8px;
}

.ai {
  color: var(--Color-Primary-primary-200, #0942B3);
  font-feature-settings: 'liga' off, 'clig' off;

  /* Text-body/primary/primary */
  font-family: var(--Font-Family-Family, Inter);
  font-size: var(--Font-Size-size-regular, 13px);
  font-style: normal;
  font-weight: var(--Font-Weight-Weight-Regular, 450);
  line-height: var(--Font-Line_Height-font-lh-regular, 20px);
  /* 153.846% */
  letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.ai_not {
  color: var(--color-text-text-100-subtler, #525F7A);
  font-feature-settings: 'liga' off, 'clig' off;

  /* Text-body/primary/primary */
  font-family: var(--Font-Family-Family, Inter);
  font-size: var(--Font-Size-size-regular, 13px);
  font-style: normal;
  font-weight: var(--Font-Weight-Weight-Regular, 450);
  line-height: var(--Font-Line_Height-font-lh-regular, 20px);
  /* 153.846% */
  letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}



.downarrow.active {
  stroke: #0942B3;
  transition: stroke 0.2s ease;
}

.downarrow.inactive {
  stroke: #525F7A;

}

.aj {
  display: flex;
  padding-bottom: 18px;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}


.ak {
  display: flex;
  padding: 6px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  display: flex;
  padding: 6px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}

.xsm {
  width: 10px;
  height: 10px;
  flex-shrink: 0;
}


.al {
  color: var(--color-text-text-100-subtler, #525F7A);
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.am {
  display: flex;
  width: 100%;
  /* max-width: 1220px; */
  min-height: 48px;
  padding: 12px 20px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--Color-Surface-surface-100, #EEF1F6);
  background: #FFF;
  box-sizing: border-box;
}


.am1 {
  display: flex;
  align-items: "center";
  gap: 6px;
}

.am1 span {
  color: var(--color-text-text-50-subtlest, #8B96AE);

  /* Text-body/secondary/secondary */
  font-family: var(--Font-Family-Family, Inter);
  font-size: var(--Font-Size-size-small, 11px);
  font-style: normal;
  font-weight: var(--Font-Weight-Weight-Regular, 450);
  line-height: var(--Font-Line_Height-font-lh-small, 16px);
  /* 145.455% */
  letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.an {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}


.ao {
  color: var(--color-text-text-200-primary, #1A2031);
  text-align: center;
  font-feature-settings: 'liga' off, 'clig' off;

  /* Text-body/primary/primary */
  font-family: var(--Font-Family-Family, Inter);
  font-size: var(--Font-Size-size-regular, 13px);
  font-style: normal;
  font-weight: var(--Font-Weight-Weight-Regular, 450);
  line-height: var(--Font-Line_Height-font-lh-regular, 20px);
  /* 153.846% */
  letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}


.ap{
  display: flex;
padding: 8px;
justify-content: center;
align-items: center;
gap: 8px;
}



.aq{
  display: flex;
width: 822px;
flex-direction: column;
align-items: flex-start;
gap: 8px;
flex-shrink: 0;
}

.ar{
   color: var(--color-text-text-200-primary, #1A2031);
font-feature-settings: 'liga' off, 'clig' off;

/* heading/primary */
font-family: var(--Font-Family-Family, Inter);
font-size: 15px;
font-style: normal;
font-weight: var(--Font-Weight-Weight-Medium, 550);
line-height: 22px; /* 146.667% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-dense, -0.1px);
}

.as{
  display: flex;
padding: 6px 16px;
justify-content: center;
align-items: center;
gap: 8px;
}

.liga{
  color: #0942B3;
font-feature-settings: 'liga' off, 'clig' off;

/* Text-body/primary/primary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-regular, 13px);
font-style: normal;
font-weight: var(--Font-Weight-Weight-Regular, 450);
line-height: var(--Font-Line_Height-font-lh-regular, 20px); /* 153.846% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}




.sidebar-container {
  position: relative;
}

.floating-icon {
  display: flex;
  height: 24px;
  padding: 4px 5px 4px 3px;
  justify-content: center;
  align-items: center;

  position: absolute;
  right: -12px; /* Sticks outside the sidebar */
  top: 372px; /* You may want to replace with top: 50%; transform: translateY(-50%) for dynamic centering */

  border-radius: 112px;
  border: 1px solid #F4F4F5;
  background: #FFF;
  z-index: 10;
}

.sidebar-wrapper{
    position: relative;
}

:root {
  --design-width: 1440;
}
.scaled-wrapper {
  width: 1440px; /* Design width */
  transform: scale(calc(100vw / 1440));
  transform-origin: top left;
  margin: 0 auto;
}