@import url('./tokens.css');


.ba {
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-small, 4px);
    align-self: stretch;
    /* border: 1px solid red; */
}

.bb {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;

    /* heading/form titles */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-form-titles, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Font-Line_Height-font-lh-small, 16px);
    /* 133.333% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.bc {
    display: flex;
    width: 100%;
    height: 92px;
    padding: var(--Spacing-regular, 8px) 12px;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--Color-Surface-surface-200, #DBE0EB);
    background: var(--Color-Surface-surface-0, #FFF);
}

.bd {
    height: 20px;
    width: 100%;
    border: white;
    outline: none;
    color: var(--Text-color-text-normal, #1A2031);
font-feature-settings: 'liga' off, 'clig' off;

/* Text-body/primary/primary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-regular, 13px);
font-style: normal;
font-weight: var(--Font-Weight-Weight-Regular, 450);
line-height: var(--Font-Line_Height-font-lh-regular, 20px); /* 153.846% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
    
    
}

.bd::placeholder{
    color: var(--color-text-text-50-subtlest, #8B96AE);
font-feature-settings: 'liga' off, 'clig' off;

/* Text-body/primary/primary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-regular, 13px);
font-style: normal;
font-weight: var(--Font-Weight-Weight-Regular, 450);
line-height: var(--Font-Line_Height-font-lh-regular, 20px); /* 153.846% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}



input::placeholder {
    color: var(--color-text-text-50-subtlest, #8B96AE);
    font-feature-settings: 'liga' off, 'clig' off;
    /* Text-body/primary/primary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.be {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-regular, 8px);
    height: 90px;
}

.bf {
    display: flex;
    height: 36px;
    padding: 0px 12px;
    align-items: center;
    align-self: stretch;
    border-radius: 4px;
    border: 1px solid var(--Color-Surface-surface-200, #DBE0EB);
    background: var(--Color-Surface-surface-0, #FFF);
    gap: 4px;
    justify-content: center;
}



.bg {
    height: auto;
    width: 100%;
    border: white;
    outline: none;
}


.bh {
    display: flex;
    width: fit-content;
    padding: 2px var(--Spacing-regular, 8px);
    justify-content: center;
    align-items: center;
    gap: 4px;
    align-self: stretch;
    border-radius: var(--Spacing-small, 4px);
    background: var(--color-Surface-surface-100, #F2F4F8);
}

.tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
}

.bi {
    color: var(--color-text-text-200-primary, #1A2031);

    /* Text-body/secondary/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-small, 11px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-small, 16px);
    /* 145.455% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.random {
    color: var(--color-text-text-50-subtlest, #8B96AE);
font-feature-settings: 'liga' off, 'clig' off;

/* Text-body/primary/primary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-regular, 13px);
font-style: normal;
font-weight: var(--Font-Weight-Weight-Regular, 450);
line-height: var(--Font-Line_Height-font-lh-regular, 20px); /* 153.846% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.bj {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-semi-large, 24px);
}

.bk {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;


    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 650;
    line-height: 20px;
    /* 153.846% */
}

.bl {
    display: flex;
    align-items: flex-end;
    gap: var(--Spacing-medium, 16px);
    flex-wrap: wrap;

}

.ua {
    display: flex;
    padding: 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-large, 32px);
    align-self: stretch;
    border-radius: 8px;
    background: var(--Color-Surface-surface-0, #FFF);
}

.yb {
    display: flex;
    padding: var(--Spacing-medium, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-large, 32px);
    align-self: stretch;
    border-radius: var(--Spacing-regular, 8px);
    background: var(--Color-Surface-surface-0, #FFF);
    outline: 1px solid red;
  background: yellow;

}





.ub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-smallest, 2px);
}

.uc {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;

    /* heading/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-dense, -0.1px);
}

.ud {
    color: var(--color-text-text-50-subtlest, #8B96AE);

    /* Text-body/secondary/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-small, 11px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-small, 16px);
    /* 145.455% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.ue {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-regular, 8px);
}


.uf {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;

    /* heading/form titles */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-form-titles, 12px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Font-Line_Height-font-lh-small, 16px);
    /* 133.333% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}


.ug {
    display: flex;
    align-items: flex-start;
    gap: var(--Spacing-regular, 8px);
    align-items: center;
}

.uh {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text-body/primary/primary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.kx{
   
   width: 8px;
  height: 8px;
  display: block;
}

.ui {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-semi-large, 24px);
}

.image {
    height: 10px;
    width: 10px;
    flex-shrink: 0;
}


.figma-checkbox {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}

.figma-checkbox input {
    display: none;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    padding: 3px;
    border-radius: 4px;
    border: 1px solid var(--Color-Primary-primary-200, #0942B3);
    background: white;
    font-size: 12px;
    color: white;
    transition: background 0.2s ease;
}

.box.checked {
    background: var(--Color-Primary-primary-200, #0942B3);
}

.uj {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;

    /* Text-body/primary/primary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.uk {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--Spacing-small, 4px);
    align-self: stretch;
}


.un {
    color: var(--color-text-text-200-primary, #1A2031);
    font-feature-settings: 'liga' off, 'clig' off;

    /* heading/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-regular, 13px);
    font-style: normal;
    font-weight: 500;
    line-height: var(--Font-Line_Height-font-lh-regular, 20px);
    /* 153.846% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-dense, -0.1px);
}

.um {
    color: var(--color-text-text-50-subtlest, #8B96AE);

    /* Text-body/secondary/secondary */
    font-family: var(--Font-Family-Family, Inter);
    font-size: var(--Font-Size-size-small, 11px);
    font-style: normal;
    font-weight: var(--Font-Weight-Weight-Regular, 450);
    line-height: var(--Font-Line_Height-font-lh-small, 16px);
    /* 145.455% */
    letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}




.ta {
      flex: 1;
  display: flex;
  height: var(--Spacing-XL, 48px);
  padding: 12px;
  gap: 8px;
  align-items: center;
  align-self: stretch;
  background: var(--Surface-color-surface-secondary, #EEF1F6);
  border-bottom: 1px solid var(--Color-Surface-surface-200, #DBE0EB);
    align-items: center;
   
}




.ta.no-border {
  border-bottom: none;
}
.td.no-border {
  border-bottom: none;
}

.tb {
    color: var(--Text-color-text-brand, #0942B3);
font-feature-settings: 'liga' off, 'clig' off;

/* heading/form titles */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-form-titles, 12px);
font-style: normal;
font-weight: 500;
line-height: var(--Font-Line_Height-font-lh-small, 16px); /* 133.333% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}


.tc {
    display: flex;
    height: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: var(--Spacing-small, 4px);
    background: var(--Surface-color-surface-secondary, #EEF1F6);
}

.td {
    display: flex;
    width: 48px;
    height: var(--Spacing-XL, 48px);
    padding: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid var(--Color-Surface-surface-200, #DBE0EB);
    background: var(--Surface-color-surface-secondary, #EEF1F6);
    flex-shrink: 0;
}

.te {
    display: flex;
    height: var(--Spacing-XL, 48px);

    flex-direction: column;
    justify-content: center;
    align-items: center;

    align-self: stretch;
    border-bottom: 1px solid var(--Color-Surface-surface-200, #DBE0EB);
    background: var(--Surface-color-surface-secondary, #EEF1F6);
}

.tf {
    display: flex;
    width: 16px;
    height: 16px;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 0;
}

.tg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2px;
}

.headerright{
    justify-content: flex-end;
}

.ti{
    display: flex;
width: 16px;
height: 16px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
flex-shrink: 0;
border-radius: var(--Spacing-small, 4px);
border: 1px solid var(--Border-color-border-bold, #697691);
}



.checkbox-wrapper {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.native-checkbox {
  display: none;
}

.custom-checkbox {
  display: flex;
  width: 16px;
  height: 16px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: var(--Spacing-small, 4px);
  border: 1px solid var(--Border-color-border-bold, #697691);
  background: inherit;
  transition: background 0.2s ease;
}

.native-checkbox:checked + .custom-checkbox,
.custom-checkbox:has(svg) {
  background-color: #0942B3; /* Blue fill when checked */
}



.tk{
    color: var(--Text-color-text-brand, #0942B3);

/* Text-body/secondary/secondary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-small, 11px);
font-style: normal;
font-weight: var(--Font-Weight-Weight-Regular, 450);
line-height: var(--Font-Line_Height-font-lh-small, 16px); /* 145.455% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}

.tl{
color: var(--color-text-text-200-primary, #1A2031);
font-feature-settings: 'liga' off, 'clig' off;

/* Text-body/primary/primary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-regular, 13px);
font-style: normal;
font-weight: var(--Font-Weight-Weight-Regular, 450);
line-height: var(--Font-Line_Height-font-lh-regular, 20px); /* 153.846% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}
.tm{
color: var(--Text-color-text-brand, #0942B3);
font-feature-settings: 'liga' off, 'clig' off;

/* heading/secondary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-regular, 13px);
font-style: normal;
font-weight: 500;
line-height: var(--Font-Line_Height-font-lh-regular, 20px); /* 153.846% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-dense, -0.1px);
}



.za{
    width: 100%;
    display: flex;
padding: 12px 12px;
align-items: center;
flex: 1 0 0;
border-radius: var(--Spacing-regular, 8px);
background: var(--Surface-color-surface-brand-subtle, #EBF2FF);
}

.zb{
    color: var(--Text-color-text-normal, #1A2031);
font-feature-settings: 'liga' off, 'clig' off;

/* Text-body/primary/primary */
font-family: var(--Font-Family-Family, Inter);
font-size: var(--Font-Size-size-regular, 13px);
font-style: normal;
font-weight: var(--Font-Weight-Weight-Regular, 450);
line-height: var(--Font-Line_Height-font-lh-regular, 20px); /* 153.846% */
letter-spacing: var(--Font-Spacing-font-letter-spacing-normal, 0px);
}


.zc{
    width: 100%;
    display: flex;
    gap: 8px;
    align-items: center;
}